:root {
  --text: #374151;
  --text-h: #111827;
  --bg: #ffffff;
  --border: #e5e7eb;
  --code-bg: #f9fafb;

  --accent: #4a6fff;
  --accent-bg: rgba(74, 111, 255, 0.1);
  --accent-border: rgba(74, 111, 255, 0.3);

  --shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

  --sans: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/1.5 var(--sans);
  color: var(--text);
  background: var(--bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* RESET GLOBAL */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: var(--bg);
  color: var(--text);

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

/* ROOT (IMPORTANTE: APP, NÃO SITE) */
#root {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

/* TIPOGRAFIA */
h1,
h2,
h3 {
  color: var(--text-h);
  margin: 0;
  font-weight: 600;
}

h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

h2 {
  font-size: 20px;
  margin-bottom: 12px;
}

p {
  margin: 0;
  color: var(--text);
}

/* INPUT PADRÃO GLOBAL (opcional mas ajuda MUITO) */
input,
button {
  font-family: var(--sans);
}

/* INPUTS */
input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--border);
  outline: none;
  font-size: 14px;
  background: #fff;
  color: var(--text-h);
}

input:focus {
  border-color: var(--accent);
}

/* BOTÕES BASE */
button {
  cursor: pointer;
  border:#111827;
  border-radius: 8px;
  padding: 12px;
  font-size: 14px;
  margin: auto;
}

/* LINKS */
a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* CODE (se usar depois) */
code {
  font-family: var(--mono);
  background: var(--code-bg);
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 13px;
}